<form method="post" action="{{ path('emailsubscription_delete', {'id': emailsubscription.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emailsubscription.id) }}">
    <button class="btn">Delete</button>
</form>
