{% extends 'admin/base_admin.html.twig' %}
{% block title %} Page 404 {% endblock %}
{% block body %}
<div class="page-wrapper">
   
    <div class="container-fluid text-center">
      <img src="{{asset('assets/img/image-404.jpg')}}" alt="404" />
        
    </div>
    
{% endblock %}